@charset "UTF-8";

a {
	background-color: #45aeba;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: 0 0 3px #777777;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 150px;
	display: block;
}

a:hover {
	box-shadow: 0 0 8px #777777;
	color: white;
	background-color: #609f9f;
}
