@CHARSET "ISO-8859-1";

.message {
	display: none;
}

body {
	font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background:
		url("http://s3.amazonaws.com/main-newsbtc-images/2016/02/10151538/content_epam_new_logo.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 0px solid #aa6666;
	padding: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

caption {
	padding: 1em;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	width: 150px;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: 0 0 3px #777777;
	padding: 15px 32px;
	text-decoration: none;
	background-color: #45aeba;
}

table {
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
}

tr {
	border: 1px solid #D9E4E6;
}

th {
	border: 1px solid #FFF;
	background-color: #167F92;
	color: #FFF;
	padding: 1em;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	border-radius: 5px;
}

tr:hover {
	background-color: #ddd;
}

#thid {
	background: #408080;
}

#thid:hover {
	box-shadow: 0 0 8px #777777;
	color: white;
}