@CHARSET "ISO-8859-1";

label, button {
	display: block;
	margin-top: 15px;
}

#submitReservation {
	border: 0px solid #38244a;
	background-color: #45aeba;
	box-shadow: 0 0 3px #777777;
	border-radius: 3px;
	transition: all 0.5s;
	font-weight: bold;
	width: 150px;
	height: 25px;
	margin: 125px 10px 10px 0px;
	cursor: pointer;
	text-shadow: 0 1px 0;
	
}

#submitReservation:hover {
	box-shadow: 0 0 8px #777777;
	color: white;
}

#reservationForm {
	width: 400px;
	margin: 5px auto 40px;
	margin-left: 20px;
	padding: 15px;
	position: relative;
	background: #d0e8ea;
	border-radius: 3px;
	color: #7e7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
		0 0 0 12px rgba(255, 255, 255, 0.4);
	font-size: 15px;
	font-weight: bold;
}

.message {
	display: none;
}

body {
	margin: 0 auto;
	background:
		url("http://www.partner-construction.ua/wp-content/uploads/2016/06/Epam-screen-028.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 0px solid #aa6666;
	padding: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.reserved {
	float: left;
}

